<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/newdetail.css" rel="stylesheet" />
		<link href="css/m-common.css" rel="stylesheet" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js"></script>
		<style>

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">拼团详情</h1>
		</header>
		<div class="mui-content" id="vues">


			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img :src="goods.furl" style="height: 400px">
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item" v-for="item in goods.urls">
						<img :src="item.url" style="height: 400px">
					</div>
					 
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img :src="goods.eurl" style="height: 400px">
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					
					<div class="mui-indicator" v-for="item in goods.urll"></div>
					 
				</div>
			</div>
			<div class="mainInfo">
				<div class="priceInfo hasBigPic" style="background: url(/images/154803967516466376.png) center center / 15rem 2.4rem no-repeat rgb(255, 61, 51);">
					<div class="hasBgPrice-wrap"></div>
					<div class="pgPrice-wrap pr"> <span class="pgPrice">¥<span class="big">{{goods.price}}</span></span>
						<div class="pin-wrap"><span class="memberNum-wrap">
							<!-- <span class="memberNum">2</span>--><span class="memberNumTxt">{{goods.remarks}}</span></span></div>
						<span class="saleStore">已拼{{goods.orders}}件</span>
					</div>
					<div class="delPrice-wrap"> <span style="color: #fff180 ;float: right" >距结束   {{goods.otime}}</span> </div>
				</div>
				<div class="proInfo">
					<div>
						<h4 class="itemName" style="display: initial;">{{goods.name}}</h4>
					</div>

				</div>
			</div>


			<div class="title">图文详情</div>
			<div v-html='goods.details'>
			</div>
			<!-- <div class="mui-card" style="margin-bottom: 35px;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						   {{goods.spec1}} &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; {{goods.spec2}}
					</li>
					<li class="mui-table-view-cell" v-for="item in goods.skus">
						{{item.spec1}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.spec2}}
					</li>

				</ul>
			</div>-->
			<div class="btns">

					<button type="button" id="button" @tap="save()" class="mui-btn mui-btn-danger"  style="display:block;margin:0 auto">参与拼团</button>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		mui.init();
        var news = new Vue({
            el: '#vues',
            data: {
                goods:{
                    name:"",
                    urll:0,
                    urls:[],
                    furl:"",
                    eurl:"",
                    otime:""
				}
            }
        });
		var slider = mui("#slider");
		slider.slider({
			interval: 5000
		});

		mui.ready(function() {
			var data = JSON.parse(localStorage.goods);

			var pdata={
			    id:data.id
			}
            mui.post(getGoodById(), pdata, function(newhouse) {
                var str = JSON.stringify(newhouse);
                localStorage.goods = str;
                news.goods = newhouse;
                 countTime();

            }, 'json');

		})
        function tow(n) {
            return n >= 0 && n < 10 ? '0' + n : '' + n;
        }
        function countTime() {
            var date = new Date();
            var now = date.getTime();
          // var endDate= new Date(2019,6,18,23,59,59);
            //2019-07-18 23:59:59
            console.log(date)
            var d=news.goods.end_date+"";
            var ymd=d.split("-");
            var hms=ymd[2].split(" ")[1].split(":");
            //console.log(ymd[0],ymd[1],ymd[2].split(" ")[0],hms[0],hms[1],hms[2]);
            var endDate= new Date(ymd[0],ymd[1]-1,ymd[2].split(" ")[0],hms[0],hms[1],hms[2]);
            console.log(endDate);
            //var endDate = new Date(news.goods.end_date);//设置截止时间
            var end = endDate.getTime();
            var leftTime = end - now; //时间差
            var d, h, m, s, ms;
            var str="";
            if(leftTime >= 0) {
                d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
                h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
                m = Math.floor(leftTime / 1000 / 60 % 60);
                s = Math.floor(leftTime / 1000 % 60);
                ms = Math.floor(leftTime % 1000);
                if(ms < 100) {
                    ms = "0" + ms;
                }
                if(s < 10) {
                    s = "0" + s;
                }
                if(m < 10) {
                    m = "0" + m;
                }
                if(h < 10) {
                    h = "0" + h;
                }
                  str = d + ' 天  ' + h + ':'  +m + ':'  + s + ':'  + ms;
            } else {
                console.log('已截止')
                  str = '已结束';
            }
            Vue.set( news.goods, 'otime', str);
           /* //将倒计时赋值到div中
            document.getElementById("_d").innerHTML = d + "天";
            document.getElementById("_h").innerHTML = h + "时";
            document.getElementById("_m").innerHTML = m + "分";
            document.getElementById("_s").innerHTML = s + "秒";
            document.getElementById("_ms").innerHTML = ms + "毫秒";
            //递归每秒调用countTime方法，显示动态时间效果*/
            setTimeout(countTime, 50);
        }

        function getDate() {
            var oDate = new Date();//获取日期对象
            var oldTime = oDate.getTime();//现在距离1970年的毫秒数
            var newDate = new Date(news.goods.end_date);
            var newTime = newDate.getTime();//2019年距离1970年的毫秒数
            var second = Math.floor((newTime - oldTime) / 1000);//未来时间距离现在的秒数
            var day = Math.floor(second / 86400);//整数部分代表的是天；一天有24*60*60=86400秒 ；
            second = second % 86400;//余数代表剩下的秒数；
            var hour = Math.floor(second / 3600);//整数部分代表小时；
            second %= 3600; //余数代表 剩下的秒数；
            var minute = Math.floor(second / 60);
            second %= 60;
            var ms = Math.floor(second / 1000);
            var str = tow(day) + ' 天  ' + tow(hour) + ':'  + tow(minute) + ':'  + tow(second) + ':'  + tow(ms);
			console.log(str);
            Vue.set( news.goods, 'otime', str);
           // news.goods.otime= str
        }



        function save() {
            var url="join.html?"+Math.random();
            mui.openWindow({
                id: 'join.html',
                url: url
            });
        }
	</script>
</html>
