<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/newdetail.css" rel="stylesheet" />
		<link href="css/m-common.css" rel="stylesheet" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js"></script>
		<style>

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">拼团详情</h1>
		</header>
		<div class="mui-content" id="vues">


			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img :src="goods.furl" style="height: 400px">
					</div>
					<!-- 第一张 -->
					<div class="mui-slider-item" v-for="item in goods.urls">
						<img :src="item.url" style="height: 400px">
					</div>
					 
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<img :src="goods.eurl" style="height: 400px">
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					
					<div class="mui-indicator" v-for="item in goods.urll"></div>
					 
				</div>
			</div>
			<div class="mainInfo">
				<div class="priceInfo hasBigPic" style="background: url(/images/154803967516466376.png) center center / 15rem 2.4rem no-repeat rgb(255, 61, 51);">
					<div class="hasBgPrice-wrap"></div>
					<div class="pgPrice-wrap pr"> <span class="pgPrice">¥<span class="big">{{goods.price}}</span></span>
						<div class="pin-wrap"><span class="memberNum-wrap">
							<!-- <span class="memberNum">2</span>--><span class="memberNumTxt">{{goods.remarks}}</span></span></div>
						<span class="saleStore">已拼{{goods.orders}}件</span>
					</div>
					<div class="delPrice-wrap"> <span class="delPriceTip">{{goods.time}}后优惠结束</span> </div>
				</div>
				<div class="proInfo">
					<div>
						<h4 class="itemName" style="display: initial;">{{goods.name}}</h4>
					</div>

				</div>
			</div>


			<div class="title">图文详情</div>
			<div v-html='goods.details'>
			</div>
			<!-- <div class="mui-card" style="margin-bottom: 35px;">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						   {{goods.spec1}} &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; {{goods.spec2}}
					</li>
					<li class="mui-table-view-cell" v-for="item in goods.skus">
						{{item.spec1}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{item.spec2}}
					</li>

				</ul>
			</div>-->
			<div class="btns">

					<button type="button" id="button" @tap="save()" class="mui-btn mui-btn-danger"  style="display:block;margin:0 auto">参与拼团</button>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		mui.init();
        var news = new Vue({
            el: '#vues',
            data: {
                goods:{
                    name:"",
                    urll:0,
                    urls:[],
                    furl:"",
                    eurl:""
				}
            }
        });
		var slider = mui("#slider");
		slider.slider({
			interval: 5000
		});

		mui.ready(function() {
			var data = JSON.parse(localStorage.goods);

			var pdata={
			    id:data.id
			}
            mui.post(getGoodById(), pdata, function(newhouse) {
                var str = JSON.stringify(newhouse);
                localStorage.goods = str;
                news.goods = newhouse;
            }, 'json');
		})

        function save() {
            mui.openWindow({
                id: 'join.html',
                url: 'join.html'
            });
        }
	</script>
</html>
