<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js"></script>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">团购商品</h1>
		</header>

		<div class="mui-content" id="news">


			<div class="mui-content-padded">
				<h5>{{spec11}}:</h5>
				<div class="mui-input-row ">
					<input type="text" v-model="spec1"   class="mui-input-clear">
				</div>
				<block v-if="spec12">
				<h5>{{spec12}}：</h5>
				<div class="mui-input-row ">
					<input type="text"  v-model="spec2"    class="mui-input-clear">
				</div>
               </block>
				<h5 class="mui-content-padded">购买数量：</h5>
				<div class="mui-numbox" data-numbox-min='1'>
					<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
					<input class="mui-input-numbox" type="number" v-model="number"/>
					<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
				</div>
				<h5>会员姓名：</h5>
				<div class="mui-input-row ">
					<input type="text" v-model="userName" class="mui-input-clear">
				</div>
				<h5>会员电话：</h5>
				<div class="mui-input-row ">
					<input type="text"  v-model="mobile"  class="mui-input-clear">
				</div>
				<h5>收件姓名：</h5>
				<div class="mui-input-row ">
					<input type="text" v-model="consignee" class="mui-input-clear">
				</div>
				<h5>收件电话：</h5>
				<div class="mui-input-row ">
					<input type="text" v-model="phone" class="mui-input-clear">
				</div>
				<h5>收件地址：</h5>
				<div class="mui-input-row ">
					<input type="text" v-model="address" class="mui-input-clear">
				</div>
				<div class="mui-button-row">
					<button type="button" class="mui-btn mui-btn-danger" @tap="add()">确认</button>&nbsp;&nbsp;
					<button type="button" class="mui-btn mui-btn-primary" @tap="closeee()">取消</button>
				</div>
			</div>


		</div>
		<script type="text/javascript">
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			 
			var news = new Vue({
				el: '#news',
				data: {
                    number:1,
					userName: "", 
					phone: "",
					consignee:"",
					mobile:"",
					address:"",
					id:"",
					name:"",
                    artNo:"",
                    spec11:"",
                    spec12:"",
                    spec1:"",
                    spec2:""

				}
			});
			function closeee() {
				var btnArray = ['否', '是'];
				mui.confirm('是否要取消，确认？', '取消拼购', btnArray, function(e) {
					if (e.index == 1) {
                      mui.back();
					} else {
						//info.innerText = 'MUI没有得到你的认可，继续加油'
					}
				});
			}
            mui.ready(function() {
                var data = JSON.parse(localStorage.goods);
                news.id=data.id;
                news.name=data.name;
                news.artNo=data.artNo;
                news.spec11=data.spec1;
                news.spec12=data.spec2;
                try{
                var info = JSON.parse(localStorage.info);
                news.phone=info.phone;
                news.consignee=info.consignee;
                news.address=info.address;
                news.userName=info.userName;
                news.mobile=info.mobile;
                }catch (e) {

                }
            })
			function add() {

                var pdata={
                    goodsId:news.id,
                    phone:news.phone,
                    consignee:news.consignee,
                    address:news.address,
                    spec1:news.spec1,
                    spec2:news.spec2,
                    number:news.number,
                    userName:news.userName,
                    mobile:news.mobile,
                    name:news.name,
                    artNo:news.artNo
                };
                if(news.spec1==""){
                    mui.alert(news.spec11+"不能为空");
                    return;
				}
                if(news.userName==""){
                    mui.alert("会员姓名不能为空");
                    return;
                }
                if(news.mobile==""){
                    mui.alert("会员电话不能为空");
                    return;
                }
                if(news.consignee==""){
                    mui.alert("收件姓名不能为空");
                    return;
                }
                if(news.phone==""){
                    mui.alert("收件电话不能为空");
                    return;
                }
                if(news.address==""){
                    mui.alert("收件地址不能为空");
                    return;
                }

                var str = JSON.stringify(pdata);
                localStorage.info = str;
                mui.post(saveOrder(), pdata, function(newhouse) {

					 mui.alert(newhouse.msg,function () {
                         if(newhouse.code==1){
                             mui.back();
                         }
                     });

                }, 'json');
			}
		</script>



	</body>
</html>
